[Unit]
Description=HP Hangup to Insert keyboard filter

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/hp_ins.sh

[Install]
WantedBy=multi-user.target
